@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body,html{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

header{
    background-color: darkslategray;
    color: #FFF;
    height: 80px;
    padding: 30px;
}

.nav-logo{
    font-size: 20px;
    margin-left: 1%;
}

.buttons{
    margin: 1%;
}

.btn{
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 90px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.btn-turnOn{
    background-color:  rgb(14, 165, 14);
    color: #FFF;
}

.btn-turnOff{
    background-color: #F00;
    color: #FFF;
}

.btn-blink{
    background-color: rgb(37, 47, 180);
    color: #FFF;
}